body{
    
    background-image: url("https://images.pexels.com/photos/8926558/pexels-photo-8926558.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-repeat: no-repeat;
    background-size: cover;
}
 
button{ 
    border: 5px solid black;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    background-color: yellowgreen;
    text-decoration: none;
}

#rock{
    background-color: deepskyblue;
} 
#paper{
    background-color: gold;
}
#scissors{
    background-color: lightcoral;
}

.siteContents{
  
    background-image: url('https://images.unsplash.com/photo-1548266652-99cf27701ced?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c2t5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1000&q=60');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 8px solid  yellowgreen;
    
    text-align: center;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    width: 60%;
}

#result{
    color: cyan;
}

.winner{
    color: yellowgreen;
}

.looser{ 
    color: tomato;
}

.tie{
    color: orange;
}